# Explicit files
Session.vim
.netrwhist

# Vim swap, backup, temp, etc. files
*.s??
*.un~
*~

# Plugins and other Plugged files
plugged/**

## Plug.vim is bootstrapped by init.vim; ignore autoload/plug.vim.
autoload/plug.vim

