[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "CamelCaseMotion"]
	path = CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/livedown"]
	path = bundle/livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "bundle/aws-vim"]
	path = bundle/aws-vim
	url = https://github.com/bgshacklett/aws-vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-mucomplete"]
	path = bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "bundle/ir_black"]
	path = bundle/ir_black
	url = https://github.com/twerth/ir_black.git
[submodule "bundle/vim-csharp"]
	path = bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/omnisharp-vim"]
	path = bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vitality"]
	path = bundle/vitality
	url = git@github.com:bgshacklett/vitality.vim.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/vim-chefautocmd"]
	path = bundle/vim-chefautocmd
	url = https://github.com/epcim/vim-chef.git
[submodule "bundle/vim-vagrant"]
	path = bundle/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant.git
[submodule "bundle/vim-packer"]
	path = bundle/vim-packer
	url = https://github.com/hashivim/vim-packer.git
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule "bundle/jq.vim"]
	path = bundle/jq.vim
	url = https://github.com/vito-c/jq.vim.git
[submodule "bundle/floobits-neovim"]
	path = bundle/floobits-neovim
	url = https://github.com/Floobits/floobits-neovim.git
